.pannel-row {
    display: flex;
    flex-wrap: wrap;
    background-color: red;
}

.filter-product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
} 

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .filter-product-list>.custom-card {
        width: 100%;
    } 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .filter-product-list>.custom-card {
        width: 250px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .filter-product-list>.custom-card {
        width: calc(100% / 2 - 12px);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .filter-product-list>.custom-card {
        width: calc(100% / 3 - 12px);
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .filter-product-list > .custom-card {
        width: calc(100% / 3 - 12px);
    }
    .filter-group-icon {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    .filter-group  {
        padding: 0 !important;
    }
}
@media only screen and (max-width: 1200px) {
    .filter-group.closed {
        transform: translateX(-100%);
    }
    .product-container {
        margin:  0 !important;
    }
    .filter-group-icon {
        display: inline-block;
    }
    .filter-group {
        background: #00000095;
        transition: .5s;
        position: fixed; 
        z-index: 1 !important; 
        top: 56px;
        left: 0;
        border-right: 1px solid #b3b3b3;
        border-bottom: 1px solid #b3b3b3;
        height: calc(100vh - 110px);
        overflow: auto;
        padding: 60px 0; 
        width: 100%;
        .warpper {
            width: 80%;
            background: white;
        }
    }
    .overlayer {
        position: absolute;
        width: 100%;
        height: 100%;
        background: red;
        left: 0;
        top: 0;
        z-index: 11;
    }
}