.product-slider .slick-prev,
.product-slider .slick-next {
    z-index: 1;
    padding-top: 2px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0);
    height: 35px;
    width: 35px;
}

.product-slider .slick-prev:hover,
.product-slider .slick-next:hover {
    border-color: black;
    background-color: black;
}

.product-slider .slick-prev {
    left: 20px;
}

.product-slider .slick-next {
    right: 20px;
}

.product-slider .slick-prev::before,
.product-slider .slick-next::before {
    color: white !important;
    text-shadow: 0 0 10px black;
}

.product-thumb-image {
    height: 90px !important;
    object-fit: cover;
}

.thumb-sliders .slick-slide {
    transition: all 1s;
}

.thumb-sliders .slick-slide.slick-active.slick-current {
    transition: all 1s;
    transform: scale(.8);
}

.thumb-image-wrapper {
    width: 100px !important;
    height: 100px !important;
}

.product-slider-image {
    height: 450px !important;
    object-fit: cover;
    cursor: zoom-in;
}

.product-image-wrapper {
    width: 100% !important;
    height: 500px !important;
}

.product-image-wrapper,
.thumb-image-wrapper {
    text-align: center !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.thumb-sliders .slick-slide>div {
    padding: 0 10px !important;
}

.card-box {
    min-height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-card-image {
    height: 200px !important;
    object-fit: cover;
}

.deal-image {
    height: 80px;
}
.custom-card,
.custom-card:hover {
    transition: all .7s;
}
.custom-card:hover {
    transform: scale(.9);
}
.strike-rate {
    font-size: 14px;
    color: #b60000;
}