.product-slider .slick-prev,
.product-slider .slick-next {
    z-index: 1;
    padding-top: 2px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0);
    height: 35px;
    width: 35px;
}

.product-slider .slick-prev:hover,
.product-slider .slick-next:hover {
    background-color: #00000009;
}

.product-slider .slick-prev {
    left: 20px;
}

.product-slider .slick-next {
    right: 20px;
}

.product-slider .slick-prev::before,
.product-slider .slick-next::before {
    color: white !important;
    text-shadow: 0 0 10px black;
}

.product-thumb-image {
    height: 90px !important;
    object-fit: cover;
}

.thumb-sliders .slick-slide {
    transition: all 1s;
}

.thumb-sliders .slick-slide.slick-active.slick-current .thumb-image-wrapper {
    transition: all 1s;
    border: 1px solid black !important;
}

.thumb-image-wrapper {
    width: 100px !important;
    height: 100px !important;
}

.product-slider-image {
    height: 450px !important;
    object-fit: cover;
    cursor: zoom-in;
}

.product-image-wrapper {
    width: 100% !important;
    height: 500px !important;
}

.product-image-wrapper,
.thumb-image-wrapper {
    text-align: center !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.thumb-sliders .slick-slide>div {
    padding: 0 10px !important;
}

.card-box {
    min-height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-card-image {
    height: 200px !important;
    object-fit: cover;
}

.deal-image {
    height: 80px;
}

.custom-card,
.custom-card:hover {
    transition: all .7s;
}

.custom-card:hover {
    transform: scale(.9);
}

.strike-rate {
    font-size: 14px;
    color: #b60000;
}

.btn-dark, 
.product-features .Mui-selected {
    transition: all .8s;
    background-image: linear-gradient(to left, #121242, #16164c, #1a1a57, #1f1f62, #23236d, #272777, #2b2b82, #2f2f8c, #343499, #3939a6, #3e3eb3, #4343c0);
}
.btn-dark:hover, 
.product-features .Mui-selected:hover {
    transition: all .8s;
    background-image: linear-gradient(to right bottom, #121242, #16164c, #1a1a57, #1f1f62, #23236d, #272777, #2b2b82, #2f2f8c, #343499, #3939a6, #3e3eb3, #4343c0);
}

.product-features .Mui-selected {
    color: white !important;
    font-weight: 500;
}
