.imgStyles {
  max-width: 100% !important;
  object-fit: fill;
  max-height: 500px;
  margin: 0 auto;
  width: auto !important;
}

.details-images-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 1rem;
  }
  .details-images-container img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    cursor: pointer;
  }

  .details-img-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
  }
  .details-images-container-active {
    border: 2px solid #003858;
  }
  
  @media screen and (max-width: 480px)  {
    .details-images-container{
      justify-content:center;
    }
    #myresult {
      visibility: hidden;
    }
  }

  
.img-zoom-lens {
    position: absolute;
    border: 1px solid #d4d4d4;
    /*set the size of the lens:*/
    width: 40px;
    height: 40px;
}

.img-zoom-result {
    border: 1px solid #d4d4d4;
    /*set the size of the result div:*/
    width: 333px;
    height: 333px;
    position: absolute;
    top: 0;
    right: -36%;
    visibility: hidden;
}

#myresult {
  z-index: 2;
  width: 700px;
  height: 500px;
  left: 0px;
}