.keyboards-detail-slider .slick-dots {
    bottom: -55px;
}

.keyboards-detail-slider .slick-dots li button::before {
    font-size: 0;
    width: 12px;
    border-radius: 100%;
    height: 12px;
    background: #fff;
    opacity: 1;
    transition: all 0.3s ease;
}

.keyboards-detail-slider .slick-dots li.slick-active button::before {
    opacity: 1;
    margin-right: 20px;
    transition: all 0.3s ease;
    background: #B5B7FF;
    border-radius: 60px;
    height: 12px;
    width: 33px;
}

.keyboards-detail-slider .slick-dots li.slick-active {
    width: 30px;
    transition: all 0.3s ease;
}

.keyboards-detail-slider .slick-dots li {
    width: 10px;
    transition: all 0.3s ease;
}

.keyboards-detail-slider .arrival-product {
    margin: 0px 10px 15px;
}