.product_details_video {
  position: absolute;
  z-index: 1;
  left: 0;
}

.calendly-badge-widget {
  top: 17px;
}

.product-short-description {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  margin-top: 20px;
  font-size: 16px;
}

.calendly-badge-widget {
  position: unset !important;
}

.calendly-badge-widget .calendly-badge-content::before {
  content: '\F21A';
  font-family: bootstrap-icons !important; 
  margin-right: 10px;
} 