.product_details_video {
  position: absolute;
  z-index: 1;
  left: 0;
}

.calendly-badge-widget {
  top: 17px;
}

.product-short-description {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  margin-top: 20px;
  font-size: 16px;
}

.calendly-badge-widget {
  position: unset !important;
}

.calendly-badge-widget .calendly-badge-content::before {
  content: '\F4F2';
  font-family: bootstrap-icons !important;
  margin-right: 10px;
  font-size: 22px;
  position: absolute;
  left: 11px;
  top: 10px;
}

.calendly-badge-widget .calendly-badge-content {
  padding-left: 43px !important
}

.product-features .accordion-button {
  padding: 0 !important;
  border: none !important;
  background: white !important;
  color: #141414 !important;
}

.product-features .accordion-body {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg style='width: 18px' fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 11h-7V4a1 1 0 00-2 0v7H4a1 1 0 000 2h7v7a1 1 0 002 0v-7h7a1 1 0 000-2z' fill='currentColor'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg style='width: 18px' fill='none' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.293 11.293A1 1 0 014 11h16a1 1 0 010 2H4a1 1 0 01-.707-1.707z' fill='currentColor'/%3E%3C/svg%3E");
}